@tailwind base;
@tailwind components;
@tailwind utilities;
 

@font-face {
  font-family: "Fira Code";
  src: url('./assets/montserrat.ttf');
  /* src: url('./assets/fira.ttf'); */
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/montserrat.ttf');
}

body {
  font-family:'Fira Code';
}


.bt-s{
  @apply text-xs p-2 rounded border mb-2 duration-300 hover:bg-gray-50;
}

.bt-icon{
  @apply text-xs p-2 rounded border mb-2 duration-300 hover:bg-gray-50 w-8 h-8 flex justify-center items-center;
}

.bt-p-s{
  @apply text-xs p-2 rounded border hover:border-indigo-600 hover:text-indigo-600 mb-2 duration-300 hover:bg-gray-50;
}

.bt-red-s{
  @apply text-xs p-2 rounded border hover:border-red-600 hover:text-red-600 mb-2 duration-300 hover:bg-gray-50;
}

.bg-dialog-box{
  @apply w-screen h-screen top-0 right-0 bg-opacity-60 bg-white fixed flex justify-center items-center max-h-screen overflow-auto;
  z-index: 1050;
}

.icon-s{
   @apply mx-2 text-2xl;
}


.menu-vert-active{
  @apply border bg-white shadow-sm;
}
.menu-vert{
  @apply items-center p-2  relative rounded-md hover:bg-white bg-opacity-40 flex hover:bg-opacity-75;
}

.input{
  @apply border p-2 rounded-lg focus:outline-none border-gray-500;
  @apply bg-opacity-0 bg-gray-100;
  width: 250px;
}

.input-alt{
   @apply p-2 focus:outline-none border border-gray-400 rounded-lg focus:ring-2 focus:border-indigo-600 ;
   @apply bg-gray-50;
}

.menu_espace{
  @apply flex justify-center items-center mr-2 p-1 px-2  bg-white text-indigo-600 rounded-full;
  @apply duration-300 hover:text-gray-500 text-sm;
}

.menu_espace_m{
  @apply flex justify-center items-center mx-2 py-3 rounded-lg px-2 text-gray-600;
  @apply duration-300 hover:text-gray-700  hover:bg-gray-100 hover:shadow-lg;
}

.bt{
  @apply bg-indigo-600 duration-300 py-1 px-2 rounded-lg text-gray-200 font-bold;
  @apply hover:bg-indigo-700 hover:shadow-lg;

}
.bt-back{
  @apply border border-indigo-600 text-indigo-600 bg-white duration-300 p-1 px-4 rounded-full;
  @apply hover:bg-gray-100 hover:shadow-lg;

}
.bt-blue{
  @apply bg-blue-600 duration-300 p-1 px-2 rounded-full text-gray-200;
  @apply hover:bg-blue-700 hover:shadow-lg;

}

.bt-load{
  @apply bg-gray-200 duration-300 py-1 px-2 rounded-full text-gray-600 border;
}
.bt-cancel{
  @apply bg-red-500 duration-300 py-1 px-2  rounded-full text-gray-200;
  @apply hover:bg-red-600 hover:shadow-lg;
}
.bt-close{
  @apply bg-red-500 duration-300 p-1 w-8 h-8 rounded-full text-gray-200;
  @apply hover:bg-red-600 hover:shadow-lg;
}


/*  ----- ----- ----- */
.bt-clear{
  @apply h-8 w-8 flex justify-center items-center rounded-full bg-gray-300 duration-300 hover:bg-opacity-70 bg-opacity-40 hover:bg-red-600 hover:text-gray-100;
}

.bt-prev-next{
  @apply h-8 w-8 flex justify-center items-center rounded-full bg-gray-300 duration-300 hover:bg-opacity-70 bg-opacity-40 hover:bg-indigo-600 hover:text-gray-100;
}

/* TRANSITION */
.fade-enter-active, .fade-leave-active {
transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #8070D4;
  border: 6px solid rgba(0,0,0,0.2);
}